In [41]:
import pandas as pd
import numpy as np
from pathlib import Path
cur_dir=Path.cwd()
csv_path=str(cur_dir)+"r\\..\\Dataset\\FuelConsumption.csv"
df = pd.read_csv(csv_path)

https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html

In [2]:
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB

In [19]:
df=df.assign(Engine_volume=df['ENGINESIZE']*df['CYLINDERS']).drop(columns='inplace')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
 13  Engine_volume             1067 non-null   float64
dtypes: float64(5), int64(4), object(5)
memory usage: 116.8+ KB

In [27]:
df[(df['FUELCONSUMPTION_HWY'] > 7 ) & (df['FUELCONSUMPTION_COMB_MPG'] > 27 ) & (df['CO2EMISSIONS'] > 250 ) & (df['CO2EMISSIONS'].notna() )]

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS,Engine_volume
585,2014,JEEP,GRAND CHEROKEE 4X4 DIESEL,SUV - STANDARD,3.0,6,A8,D,11.2,8.4,9.9,29,267,18.0
916,2014,RAM,1500 DIESEL,PICKUP TRUCK - STANDARD,3.0,6,A8,D,11.6,8.4,10.2,28,275,18.0

In [28]:
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS,Engine_volume
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196,8.0
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221,9.6
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136,6.0
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255,21.0
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244,21.0

In [30]:
df.groupby('TRANSMISSION').size()

TRANSMISSION
A4      45
A5      30
A6     222
A7      12
A8      87
A9       8
AM5      2
AM6      6
AM7     34
AS4      1
AS5     10
AS6    189
AS7     76
AS8     80
AS9      2
AV      46
AV6     11
AV7      5
AV8      3
M5      48
M6     141
M7       9
dtype: int64

In [36]:
df.groupby('TRANSMISSION').count()['MODELYEAR'] #count does not consider nan values

TRANSMISSION
A4      45
A5      30
A6     222
A7      12
A8      87
A9       8
AM5      2
AM6      6
AM7     34
AS4      1
AS5     10
AS6    189
AS7     76
AS8     80
AS9      2
AV      46
AV6     11
AV7      5
AV8      3
M5      48
M6     141
M7       9
Name: MODELYEAR, dtype: int64

In [73]:
df.groupby('TRANSMISSION')['TRANSMISSION'].agg(AverageTrans=np.sum)

                                                   AverageTrans
TRANSMISSION
A4            A4A4A4A4A4A4A4A4A4A4A4A4A4A4A4A4A4A4A4A4A4A4A4...
A5            A5A5A5A5A5A5A5A5A5A5A5A5A5A5A5A5A5A5A5A5A5A5A5...
A6            A6A6A6A6A6A6A6A6A6A6A6A6A6A6A6A6A6A6A6A6A6A6A6...
A7                                     A7A7A7A7A7A7A7A7A7A7A7A7
A8            A8A8A8A8A8A8A8A8A8A8A8A8A8A8A8A8A8A8A8A8A8A8A8...
A9                                             A9A9A9A9A9A9A9A9
AM5                                                      AM5AM5
AM6                                          AM6AM6AM6AM6AM6AM6
AM7           AM7AM7AM7AM7AM7AM7AM7AM7AM7AM7AM7AM7AM7AM7AM7A...
AS4                                                         AS4
AS5                              AS5AS5AS5AS5AS5AS5AS5AS5AS5AS5
AS6           AS6AS6AS6AS6AS6AS6AS6AS6AS6AS6AS6AS6AS6AS6AS6A...
AS7           AS7AS7AS7AS7AS7AS7AS7AS7AS7AS7AS7AS7AS7AS7AS7A...
AS8           AS8AS8AS8AS8AS8AS8AS8AS8AS8AS8AS8AS8AS8AS8AS8A...
AS9                                                      AS9AS9
AV            AVAVAVAVAVAVAVAVAVAVAVAVAVAVAVAVAVAVAVAVAVAVAV...
AV6                           AV6AV6AV6AV6AV6AV6AV6AV6AV6AV6AV6
AV7                                             AV7AV7AV7AV7AV7
AV8                                                   AV8AV8AV8
M5            M5M5M5M5M5M5M5M5M5M5M5M5M5M5M5M5M5M5M5M5M5M5M5...
M6            M6M6M6M6M6M6M6M6M6M6M6M6M6M6M6M6M6M6M6M6M6M6M6...
M7                                           M7M7M7M7M7M7M7M7M7